@layout("/common/_dialog.html",{plugins:["sweet-alert","layer"],js:["/assets/modular/system/role/role_add.js"]}){
<div class="container-fluid">
    <form id="roleForm" \@submit="submitForm">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <h5>角色名称 <span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input v-model="name" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <h5>上级名称 <span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input v-model="pName" id="pName" \@click="showParentSelectTree" type="text" class="form-control" autocomplete="off">
                        <input v-model="pid" type="hidden" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <h5>别名 <span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input v-model="description" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <h5>排序</h5>
                    <div class="controls">
                        <input v-model="sort" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="text-xs-right">
                    <button class="btn btn-info normal-button-width" \@click="ensure">提交</button>
                    <button class="btn btn-inverse normal-button-width m-l-10" \@click="close">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>
@}
