@/**
@ * 本页面所用的模板变量
@ *
@ * name      :   用户姓名
@ * email     :   邮箱
@ * roleName  :   角色名称
@ * phone     :   电话
@ * deptName  :   部门名称
@ **/
@layout("/common/_container.html",{plugins:["cropper"],js:["/assets/modular/system/user/user_view.js"]}){
<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-block">
                <div class="m-t-30" style="text-align: center;"><img src="${avatar}" class="img-circle" width="150"/>
                    <h4 class="card-title m-t-10">${name}</h4>
                    <h6 class="card-subtitle">${roleName!} ${deptName!}</h6>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <span class="font-medium">254</span></a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <span class="font-medium">54</span></a></div>
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-block">
                <small class="text-muted">Email address</small>
                <h6>${email!}</h6>
                <small class="text-muted p-t-30 db">Phone</small>
                <h6>${phone!}</h6>
                <small class="text-muted p-t-30 db">Address</small>
                <h6>中国 北京市 朝阳区 大望路 xx</h6>
                <div class="map-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                            width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <small class="text-muted p-t-30 db">Social Profile</small>
                <br/>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- 导航卡标签 -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#personal" role="tab">个人信息</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#avatar" role="tab">修改头像</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#loginLog" role="tab">登录日志</a></li>
            </ul>
            <!-- 导航卡容器 -->
            <div class="tab-content">

                @
                @   个人信息
                @
                <div class="tab-pane active" id="personal" role="tabpanel">
                    <div class="card-block">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">账号</label>
                                <div class="col-md-12">
                                    <input v-model="account" type="text" placeholder="请输入账号" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">性别</label>
                                <div class="col-md-12">
                                    <select v-model="sex" class="form-control">
                                        <option value="">请选择</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">邮箱</label>
                                <div class="col-md-12">
                                    <input v-model="email" type="email" placeholder="请输入邮箱" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">姓名</label>
                                <div class="col-md-12">
                                    <input v-model="name" type="text" placeholder="请输入姓名" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">出生日期</label>
                                <div class="col-md-12">
                                    <input v-model="birthday" type="text" placeholder="请输入出生日期" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">电话</label>
                                <div class="col-md-12">
                                    <input v-model="phone" type="text" placeholder="请输入电话" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">角色名称</label>
                                <div class="col-md-12">
                                    <input v-model="roleName" type="text" disabled class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">部门</label>
                                <div class="col-md-12">
                                    <input v-model="deptid" type="text" placeholder="请输入部门" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success waves-effect">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                @
                @   编辑头像
                @
                <div class="tab-pane" id="avatar" role="tabpanel">
                    <div class="card-block" style="height: 500px;">
                        <div>
                            <img style="max-width: 100%;" id="cropperImage" src="${avatar}">
                        </div>
                    </div>
                </div>

                @
                @   登录日志
                @
                <div class="tab-pane" id="loginLog" role="tabpanel">
                    <div class="card-block">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <div class="sl-left"><img src="${avatar}" alt="user" class="img-circle"/></div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                        <blockquote class="m-t-10">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"><img src="${avatar}" alt="user" class="img-circle"/></div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                        <blockquote class="m-t-10">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"><img src="${avatar}" alt="user" class="img-circle"/></div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                        <blockquote class="m-t-10">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@}
