@/* 头部 */
<div class="layui-header">
    <div class="layui-logo">
        <!--<img src="${ctxPath}/assets/common/images/logo.png"/>-->
        <i class="layui-icon layui-icon-component"></i>
        <cite>&nbsp;${constants.getSystemName()}&emsp;</cite>
    </div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item" lay-unselect>
            <a ew-event="flexible" title="侧边伸缩"><i class="layui-icon layui-icon-shrink-right"></i></a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a ew-event="refresh" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
        </li>

        @if(objectUtil.isNotEmpty(layuiAppIndexMenus)){
            @for(item in layuiAppIndexMenus) {
                <li class="layui-nav-item layui-hide-xs" lay-unselect><a nav-bind="${item.appCode}">${item.appName}</a></li>
            @}
        @}
        <!-- 小屏幕下变为下拉形式 -->
        <li class="layui-nav-item layui-hide-sm layui-show-xs-inline-block" lay-unselect>
            <a>更多</a>
            <dl class="layui-nav-child">
                @if(objectUtil.isNotEmpty(layuiAppIndexMenus)){
                    @for(item in layuiAppIndexMenus) {
                        <dd lay-unselect><a nav-bind="${item.appCode}">${item.appName}</a></dd>
                    @}
                @}
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item" lay-unselect="">
            <a ew-event="message" title="消息" data-url="${ctxPath}/view/message">
                <i class="layui-icon layui-icon-notice"></i>
                <!-- 未读消息气泡提示 -->
                @if(msgUnReadCount>0){
                <span id="messageDot" style="display: block" class="layui-badge-dot"></span>
                @}else{
                <span id="messageDot" style="display: none" class="layui-badge-dot"></span>
                @}
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a ew-event="fullScreen" title="全屏"><i class="layui-icon layui-icon-screen-full"></i></a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a ew-event="lockScreen" title="锁屏" data-url="${ctxPath}/view/lock"><i class="layui-icon layui-icon-password"></i></a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a>
                <img src="${avatar!}" class="layui-nav-img">
                <cite>${name!"用户"}</cite>
            </a>
            <dl class="layui-nav-child">
                <dd lay-unselect><a ew-href="${ctxPath}/view/personal">${translate.get("MENU_PERSONAL","个人中心")}</a></dd>
                <dd lay-unselect><a id="setPsw">${translate.get("MENU_CHANGE_PASSWORD","修改密码")}</a></dd>
                <hr>
                <div id="languageDiv"></div>
                <hr>
                <dd lay-unselect><a id="btnLogout">${translate.get("MENU_LOGOUT","退出")}</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a ew-event="theme" title="主题" data-url="${ctxPath}/view/theme"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
    </ul>
</div>
