@/* 框架顶部 */
<div class="layui-header">
    <div class="layui-logo">
        <!--<img src="${ctxPath}/assets/common/images/logo.png"/>-->
        <i class="layui-icon layui-icon-component"></i>
        <cite>&nbsp;${constants.getSystemName()}&emsp;</cite>
    </div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item" lay-unselect>
            <a ew-event="flexible" title="侧边伸缩"><i class="layui-icon layui-icon-shrink-right"></i></a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a ew-event="refresh" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
        </li>

        @var types = shiro.getUser().systemTypes;
        @if(tool.isNotEmpty(types)){
            @for(type in types) {
                @if(typeLP.index == 1){
                <li class="layui-nav-item layui-hide-xs layui-this" lay-unselect><a nav-bind="${type.code}">${type.name}</a></li>
                @}else{
                <li class="layui-nav-item layui-hide-xs" lay-unselect><a nav-bind="${type.code}">${type.name}</a></li>
                @}
            @}
        @}

        @if(constants.getDefaultAdvert()){
        <li class="layui-nav-item" lay-unselect>
            <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=p4kqz45e" target="_blank">阿里云5折优惠券，点我领取</a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a style="color: #5FB878;" href="https://www.stylefeng.cn" target="_blank">Guns企业版，加群找群主买优惠</a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a style="color: #fe7300;" href="https://gitee.com/stylefeng/guns" target="_blank">请star支持一下Guns</a>
        </li>
        @}

    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a ew-event="fullScreen" title="全屏"><i class="layui-icon layui-icon-screen-full"></i></a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a ew-event="lockScreen" title="锁屏" data-url="${ctxPath}/system/lock"><i class="layui-icon layui-icon-password"></i></a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a>
                <img src="${avatar!}" class="layui-nav-img">
                <cite>${name!"用户"}</cite>
            </a>
            <dl class="layui-nav-child">
                <dd lay-unselect>
                    <a ew-href="${ctxPath}/system/user_info">${lang.get("MENU_PERSONAL_INFO","个人中心")}</a>
                </dd>
                <dd lay-unselect>
                    <a id="setPsw">${lang.get("MENU_CHANGE_PASSWORD","修改密码")}</a>
                </dd>
                <hr>
                <div id="languageDiv"></div>
                <hr>
                <dd lay-unselect>
                    <a id="btnLogout">${lang.get("MENU_LOGOUT","退出")}</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a ew-event="theme" title="主题" data-url="${ctxPath}/system/theme"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
    </ul>
</div>