@/* 侧边栏 */
<div class="layui-side">
    <div class="layui-side-scroll">

        @for(item in layuiAppIndexMenus){
            <ul class="layui-nav layui-nav-tree" nav-id="${item.appCode}" lay-shrink="all" lay-filter="admin-side-nav" style="margin: 15px 0;">
            @for(menu in item.layuiIndexMenuTreeNodes) {
                @if(objectUtil.isEmpty(menu.children)){
                <li class="layui-nav-item">
                    @if(itemLP.first && menuLP.first){
                    <a id="firstPageAction" lay-href="${menu.layuiPath}"><i class="layui-icon ${menu.layuiIcon}"></i>&emsp;<cite>${menu.menuName}</cite></a>
                    @}else{
                    <a lay-href="${menu.layuiPath}"><i class="layui-icon ${menu.layuiIcon}"></i>&emsp;<cite>${menu.menuName}</cite></a>
                    @}
                </li>
                @}else{
                <li class="layui-nav-item">
                    <a><i class="layui-icon ${menu.layuiIcon}"></i>&emsp;<cite>${menu.menuName}</cite></a>
                    <dl class="layui-nav-child">
                    @for(subMenu in menu.children){
                        @if(objectUtil.isEmpty(subMenu.children)){
                            @if(itemLP.first && menuLP.first && subMenuLP.first){
                            <dd><a id="firstPageAction" lay-href="${subMenu.layuiPath}">${subMenu.menuName}</a></dd>
                            @}else{
                            <dd><a lay-href="${subMenu.layuiPath}">${subMenu.menuName}</a></dd>
                            @}
                        @}else{
                        <dd>
                            <a>${subMenu.menuName}</a>
                            <dl class="layui-nav-child">
                            @for(subSubMenu in subMenu.children){
                                @if(objectUtil.isEmpty(subSubMenu.children)){
                                    @if(itemLP.first && menuLP.first && subMenuLP.first && subSubMenuLP.first){
                                    <dd><a id="firstPageAction" lay-href="${subSubMenu.layuiPath}">${subSubMenu.menuName}</a></dd>
                                    @}else{
                                    <dd><a lay-href="${subSubMenu.layuiPath}">${subSubMenu.menuName}</a></dd>
                                    @}
                                @}else{
                                <dd>
                                    <a>${subSubMenu.menuName}</a>
                                    <dl class="layui-nav-child">
                                    @for(subSubSubMenu in subSubMenu.children){
                                        @if(itemLP.first && menuLP.first && subMenuLP.first && subSubMenuLP.first && subSubSubMenuLP.first){
                                        <dd><a id="firstPageAction" lay-href="${subSubSubMenu.layuiPath}">${subSubSubMenu.menuName}</a></dd>
                                        @}else{
                                        <dd><a lay-href="${subSubSubMenu.layuiPath}">${subSubSubMenu.menuName}</a></dd>
                                        @}
                                    @}
                                    </dl>
                                </dd>
                                @}
                            @}
                            </dl>
                        </dd>
                        @}
                    @}
                    </dl>
                </li>
                @}
            @}
            </ul>
        @}

    </div>
</div>