*.class

# Package Files #
*.jar
*.war
*.ear
target/

# eclipse
.settings/
.classpath
.project
logs/

# idea
.idea/
*.iml

*velocity.log*

### STS ###
.apt_generated
.factorypath
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.log
tmp/
