@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="userName" name="用户名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MgrUser.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="managerTableToolbar" role="group">
                            <#button name="添加" icon="fa-plus" clickFun="MgrUser.openAddMgr()"/>
                            <#button name="修改" icon="fa-edit" clickFun="MgrUser.openChangeUser()" space="true"/>
                            <#button name="删除" icon="fa-remove" clickFun="MgrUser.delMgrUser()" space="true"/>
                            <#button name="重置密码" icon="fa-refresh" clickFun="MgrUser.resetPwd()" space="true"/>
                            <#button name="冻结" icon="fa-warning" clickFun="MgrUser.freezeAccount()" space="true"/>
                            <#button name="解除冻结" icon="fa-check-circle" clickFun="MgrUser.unfreeze()" space="true"/>
                            <#button name="角色分配" icon="fa-user-secret" clickFun="MgrUser.roleAssign()" space="true"/>
                        </div>
                        <#table id="managerTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/user/user.js"></script>
@}
