@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- 成员列表 -->

                        <!-- 搜索条件 -->
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="userName" name="用户名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MgrUser.search()"/>
                            </div>
                        </div>
                        <!-- End 搜索条件 -->

                        <div class="hidden-xs" id="managerTableToolbar" role="group">
                            <#button name="添加" icon="fa-plus" clickFun="MgrUser.openAddMgr()"/>
                            <#nbutton name="修改" icon="fa-edit" clickFun="MgrUser.openChangeUser()"/>
                            <#nbutton name="删除" icon="fa-remove" clickFun="MgrUser.delMgrUser()"/>
                            <#nbutton name="重置密码" icon="fa-refresh" clickFun="MgrUser.resetPwd()"/>
                            <#nbutton name="冻结" icon="fa-warning" clickFun="MgrUser.freezeAccount()"/>
                            <#nbutton name="解除冻结" icon="fa-check-circle" clickFun="MgrUser.unfreeze()"/>
                            <#nbutton name="角色分配" icon="fa-user-secret" clickFun="MgrUser.roleAssign()"/>
                        </div>

                        <!-- 成员列表 -->
                        <table id="managerTable" data-mobile-responsive="true" data-click-to-select="true">
                            <thead>
                                <tr>
                                    <th data-field="selectItem" data-checkbox="true"></th>
                                </tr>
                            </thead>
                        </table>
                        <!-- End 成员列表 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/user/user.js"></script>
@}
