<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- mybatis的设置，它们会改变 MyBatis 的运行时行为 -->
    <settings>
        <!-- <setting name="logImpl" value="STDOUT_LOGGING" /> 打印查询语句 -->
        <setting name="cacheEnabled" value="true"/>                  <!-- 配置的缓存的全局开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>            <!-- 延时加载的开关 -->
        <setting name="multipleResultSetsEnabled" value="true"/>     <!-- 开启的话，延时加载一个属性时会加载该对象全部属性，否则按需加载属性 -->
    </settings>

    <!-- 设置domain的别名来减少冗余 -->
    <typeAliases>
        <package name="com.stylefeng.guns.persistence.model"/>
    </typeAliases>

    <plugins>

        <!-- SQL 执行性能分析，开发环境使用，线上不推荐。 maxTime 指的是 sql 最大执行时长 -->
        <!--<plugin interceptor="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">-->
            <!--<property name="maxTime" value="100"/>-->
            <!--&lt;!&ndash;SQL是否格式化 默认false &ndash;&gt;-->
            <!--<property name="format" value="true"/>-->
        <!--</plugin>-->

        <!-- SQL 执行分析拦截器 stopProceed 发现全表执行 delete update 是否停止运行 -->
        <plugin interceptor="com.baomidou.mybatisplus.plugins.SqlExplainInterceptor">
            <property name="stopProceed" value="true"/>
        </plugin>

    </plugins>

</configuration>