.layui-form-item {
    margin-top: 20px;
    margin-bottom: 0;
}

.layui-form-item .layui-inline {
    margin-bottom: 25px;
    margin-right: 0;
}

.form-group-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .05);
}

.layui-fluid {
    padding-bottom: 70px
}

.layui-card {
    padding-bottom: 20px
}

