/*表单页面*/
.layui-form-item {
    margin-bottom: 0;
    margin-top: 20px;
}

.layui-form-item .layui-inline {
    margin-bottom: 25px;
    margin-right: 0;
}

.form-group-bottom {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2F2F2;
    padding: 10px 20px;
}

.layui-card-body {
    padding-right: 55px;
}