.text-danger {
    color: #FF5722;
}

.text-success {
    color: #5FB878;
}

.text-waring {
    color: #FFB800;
}

.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 90px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.layui-input-block {
    margin-left: 120px;
    min-height: 36px;
}

.form-tips {
    margin-left: 120px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.box-main {
    margin: 0;
    border: 0;
    padding-top: 2px;
    border-radius: 0;
    box-shadow: none;
    overflow: scroll;
}

.wide-layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 130px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.wide-layui-input-block {
    margin-left: 160px;
    min-height: 36px;
}
