 @layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="roleInfoForm">
		
			<input type="hidden" id="id" value="${role.id}">

			<div class="row">
				<div class="col-sm-6 b-r">
					<#input id="name" name="角色名称" underline="true" value="${role.name}"/>
					<#input id="pName" name="上级名称" underline="true" hidden="pid" hiddenValue="${role.pid}" readonly="readonly" value="${pName}"
							clickFun="RolInfoDlg.showPNameSelectTree(); return false;"
							style="background-color: #ffffff !important;"/>
					<#input id="deptName" name="部门名称" hidden="deptid" hiddenValue="${role.deptid}" readonly="readonly" value="${deptName}"
							clickFun="RolInfoDlg.showDeptSelectTree(); return false;"
							style="background-color: #ffffff !important;"/>
				</div>
				<div class="col-sm-6">
					<#input id="tips" name="别名" underline="true" value="${role.tips}"/>
					<#input id="num" name="排序" value="${role.num}"/>
				</div>
			</div>

			<!-- 这是部门下拉框 -->
			<div id="deptContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="deptTree" class="ztree tree-box" style="width: 250px !important;"></ul>
			</div>
			
			<!-- 这是父级菜单下拉框 -->
			<div id="pNameContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="pNameTree" class="ztree tree-box" style="width: 250px !important;"></ul>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RolInfoDlg.editSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RolInfoDlg.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/system/role/role_info.js"></script>
@}
