<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.CodeDbinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.CodeDbinfo">
        <id column="DB_ID" property="dbId" />
        <result column="NAME" property="name" />
        <result column="DB_DRIVER" property="dbDriver" />
        <result column="DB_URL" property="dbUrl" />
        <result column="DB_USER_NAME" property="dbUserName" />
        <result column="DB_PASSWORD" property="dbPassword" />
        <result column="DB_TYPE" property="dbType" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_USER" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DB_ID AS dbId, NAME AS name, DB_DRIVER AS dbDriver, DB_URL AS dbUrl, DB_USER_NAME AS dbUserName, DB_PASSWORD AS dbPassword, DB_TYPE AS dbType, CREATE_TIME AS createTime, UPDATE_TIME AS updateTime, CREATE_USER AS createUser, UPDATE_USER AS updateUser
    </sql>

</mapper>
