<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.RelationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Relation">
		<id column="id" property="id" />
		<result column="menuid" property="menuid" />
		<result column="roleid" property="roleid" />
	</resultMap>

</mapper>
