<input type="hidden" id="formOpenType_" value="${openType!}">
<style type="text/css">
    .form-read-input{
        padding: 9px 15px;
        line-height: 1.3;
        display: block;
        border-width: 1px;
        border-style: solid;
        background-color: #fff;
        border-radius: 2px;
        border-color: #e6e6e6;
    }
    .form-read-a{
        color: #01AAED;
	    text-decoration: underline;
    }
    .form-read-a:hover{
        color: #ff0000;
    }
</style>
<script type="text/javascript" src="${ctxPath}/assets/expand/plugins/form/form.all.js?v=${constants.getReleaseVersion()}"></script>

<script type="text/javascript">

</script>
