@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>日志管理</h5>
			</div>
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<!-- 成员列表 -->
						<div class="example-wrap">
							<div class="example">
								<div class="hidden-xs" id="OptLogTableToolbar" role="group">
									<button type="button" class="btn btn-primary" onclick="OptLog.detail()"><i class="fa fa-plus"></i>&nbsp;查看详情</button>
								</div>
								<table id="OptLogTable" data-mobile-responsive="true"
									data-click-to-select="true">
									<thead>
										<tr>
											<th data-field="selectItem" data-checkbox="true"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<!-- End 成员列表 -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/system/log/log.js"></script>
@}
