@layout("/common/_container.html"){
<div class="container-fluid" style="padding: 0 !important;">
	<div class="row">
		<div class="col-sm-12">
			@for(notice in noticeList){
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					${notice.content}
				</div>
			@}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-success pull-right">日</span>
					<h5>用户</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">${userCount!0}</h1>
					<div class="stat-percent font-bold text-success">
						<i class="fa fa-user"></i>
					</div>
					<small>总用户</small>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-info pull-right">日</span>
					<h5>调用次数</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">${systemCount!0}</h1>
					<div class="stat-percent font-bold text-info">
						<i class="fa fa-bolt"></i>
					</div>
					<small>总调用次数</small>
				</div>
			</div>
		</div>
	</div>
</div>
@}
